@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');

/* RESET */
* {
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --bg-main: linear-gradient(to right, #383a3b, #8d9497);
    --bg-card: #f5f5f5;
    --text-main: #111;
    --header-bg: #1d1d1f;
    --footer-bg: #1d1d1f;
}

[data-theme="dark"] {
    --bg-main: linear-gradient(to right, #0f2027, #203a43);
    --bg-card: #1e1e1e;
    --text-main: #e5e5e5;
    --header-bg: #000;
    --footer-bg: #000;
}

/* LAYOUT BASE */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--bg-main);
    color: var(--text-main);
}

/* HEADER */
header {
    padding: 1px;
    text-align: center;
    background: var(--header-bg);
    color: #e7e7e7;
    font-family: "Roboto", sans-serif;
    font-size: clamp(22px, 4vw, 40px);
    letter-spacing: 0px;
}

/* CONTEÚDO */
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* CARD */
.cardum {
    max-width: 600px;
    width: 100%;
    padding: 30px;
    background: var(--bg-card);
    color: var(--text-main);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    text-align: center;
    animation: fadeUp 0.8s ease-out;
}

/* DADOS */
.data_contact {
    font-family: "Robotto", sans-serif;
    font-size: clamp(20px, 4vw, 32px);
    font-weight: 700;
    margin-bottom: 20px;
}

/* SKILLS */
.hard_skills {
    font-family: "Roboto Condensed", sans-serif;
    font-size: clamp(16px, 3vw, 22px);
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 25px;  
}

.hard_skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* SOCIAL */
.cardsub_socialmedia a {
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    color: #005eff;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.cardsub_socialmedia a:hover {
    transform: translateY(-3px);
    text-decoration: underline;
}

/* PROJETOS */
.projects {
    padding: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project-card {
    background: var(--bg-card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,.2);
    animation: fadeUp 0.8s ease;
}

/* FOOTER */
footer {
    background: var(--footer-bg);
    color: #ccc;
    text-align: center;
    padding: 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
}

/* ANIMAÇÃO */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
